@model BancolombiaTest.Models.Nivel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Nivel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodNivel" class="control-label"></label>
                <input asp-for="CodNivel" class="form-control" />
                <span asp-validation-for="CodNivel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomNivel" class="control-label"></label>
                <input asp-for="NomNivel" class="form-control" />
                <span asp-validation-for="NomNivel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
